name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Check Go version
        run: go version

      - name: Go fmt
        run: |
          if [ -n "$(gofmt -l .)" ]; then
            gofmt -l .
            exit 1
          fi

      - name: GolangCI-Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          args: --timeout=3m

  test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Check Go version
        run: go version

      - name: Run tests
        run: go test ./... -race -count=1

      - name: Build
        run: go build ./...
